@media (max-width: 767px) {
	.carousel-inner .carousel-item > div {
		display: none;
	}
	.carousel-inner .carousel-item > div:first-child {
		display: block;
	}
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
	display: flex;
}

/* medium and up screens */

@media (min-width: 768px) {
	.carousel-inner .carousel-item-end.active,
	.carousel-inner .carousel-item-next {
		transform: translateX(25%);
	}
	.carousel-inner .carousel-item-start.active,
	.carousel-inner .carousel-item-prev {
		transform: translateX(-25%);
	}
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
	transform: translateX(0);
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

@media (max-width: 767px) {
	#featureContainer .carousel-inner .carousel-item > div {
		display: none;
	}
	#featureContainer .carousel-inner .carousel-item > div:first-child {
		display: block;
	}
}

#featureContainer .carousel-inner .carousel-item.active,
#featureContainer .carousel-inner .carousel-item-next,
#featureContainer .carousel-inner .carousel-item-prev {
	display: flex;
}

@media (min-width: 768px) {
	#featureContainer .carousel-inner .carousel-item-end.active,
	#featureContainer .carousel-inner .carousel-item-next {
		transform: translateX(25%);
	}
	#featureContainer .carousel-inner .carousel-item-start.active,
	#featureContainer .carousel-inner .carousel-item-prev {
		transform: translateX(-25%);
	}
	#featureContainer .card img {
		width: 90%;
		height: 40vh;
	}
	#featureContainer .carousel-item {
		justify-content: space-between;
	}
}

@media (max-width: 767px) {
	#featureContainer .card img {
		width: 100%;
		height: 75vh;
	}
}

#featureContainer .carousel-inner .carousel-item-end,
#featureContainer .carousel-inner .carousel-item-start {
	transform: translateX(0);
}

#featureContainer .card {
	border: 0;
}

#featureContainer .card {
	position: relative;
}

#featureContainer .card .card-img-overlays {
	position: absolute;
	bottom: 15%;
	left: 10%;
}

#featureContainer a {
	text-decoration: none;
}

#featureContainer .indicator {
	border: 1px solid rgb(202, 202, 202);
	padding: 3px 6px 3px 6px;
}

#featureContainer .indicator:hover {
	background-color: blue;
	border: 1px solid blue;
	transition: 200ms;
}

#featureContainer .indicator:hover {
	color: white;
	transition: 200ms;
}

#featureContainer .indicator {
	color: lightgray;
}

#featureContainer .float-end {
	padding-top: 10px;
}

input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 0px 0px 0px #000000;
	background: #ff5724;
	border-radius: 1px;
	border: 0px solid #000000;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
	background: #ff5724;
}

input[type="range"]::-moz-range-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 0px 0px 0px #000000;
	background: #ff5724;
	border-radius: 1px;
	border: 0px solid #000000;
}

input[type="range"]::-moz-range-thumb {
	box-shadow: 1px 1px 0px #ffffff;
	border: 2px solid #e3e3e3;
	height: 18px;
	width: 18px;
	border-radius: 25px;
	background: #000000;
	cursor: pointer;
}

input[type="range"]::-ms-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

input[type="range"]::-ms-fill-lower {
	background: #ff5724;
	border: 0px solid #000000;
	border-radius: 2px;
	box-shadow: 0px 0px 0px #000000;
}

input[type="range"]::-ms-fill-upper {
	background: #ff5724;
	border: 0px solid #000000;
	border-radius: 2px;
	box-shadow: 0px 0px 0px #000000;
}

input[type="range"]::-ms-thumb {
	margin-top: 1px;
	box-shadow: 1px 1px 0px #ffffff;
	border: 2px solid #e3e3e3;
	height: 18px;
	width: 18px;
	border-radius: 25px;
	background: #000000;
	cursor: pointer;
}

input[type="range"]:focus::-ms-fill-lower {
	background: #ff5724;
}

input[type="range"]:focus::-ms-fill-upper {
	background: #ff5724;
}

.sub-container {
	display: flex;
	width: 100%;
	gap: 50px;
	height: max-content;
}

.header {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
}

.header button {
	height: max-content;
	width: max-content;
	padding: 10px;
	border: none;
	background-color: transparent;
	font-size: 35px;
	color: #9088d2;
}

.header button:hover {
	cursor: pointer;
}

.details input {
	width: 100%;
}

.detail {
	display: flex;
	justify-content: space-between;
}

.footer {
	text-align: center;
}

/*----- Styling the sliders ----*/

input[type="range"] {
	margin: 0px 0px 50px 0;
	width: 100%;
}

input[type="range"]:focus {
	outline: none;
}

.loan-details {
	padding-top: 50px;
}

.detail {
	padding: 10px;
}

.detail-group {
	padding: 15px;
	border: 1px solid #b1b1b1;
	border-radius: 10px;
}
